.container{
    position: relative;

    .notis{
        width: 400px;
        position: absolute;
        height: 300px;
        border-radius: var(--border-radius);
        background-color: var(--card-bg);
        top: 10px;
        left: 10px;
        animation: appear .3s ease-in;
        z-index: 9999999999999999999999999999999999999999999999;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 95% 100%, 78% 100%, 15% 100%, 15% 15%);

        ul{
            width: 80%;
            height: 100%;
            position: absolute;
            right: 0;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;

            li{
                width: 100%;
                border-radius: 0;
                display: flex;
                flex-direction: column;
                margin-top: 25px;
                padding: 0px 0px 10px 0;
                text-align: left;
                border-bottom: 1px solid #FFFFFF20;
                color: white;

                &:hover{
                    border-bottom: 1px solid #FFFFFF90;
                }
            }
        }
    }
}

@keyframes appear {
    0%{
        clip-path: polygon(0 0, 0 0, 0 0);
    }

    30%{
        clip-path: polygon(0 0, 100% 0%, 100% 1%, 68% 1%, 37% 1%, 18% 1%, 0 1%);
    }

    100%{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 95% 100%, 78% 100%, 15% 100%, 15% 15%);
    }
}