.details{
    width: 30%;
    padding: 10px;
    box-sizing: border-box;

    .caracteristics{
        background-color: var(--card-bg);
        padding: 30px;
        border-radius: var(--border-radius);
    }

    .categories{
        background-color: var(--card-bg);
        padding: 20px;
        border-radius: var(--border-radius);
        display: flex;
        flex-wrap: wrap;

        a{
            color: #FFFFFF90;
            text-decoration: none;
            background-color: #FFFFFF20;
            padding: 5px 10px;
            margin: 5px;
            border-radius: var(--border-radius);
        }
    }
}