.card {
  width: 100%;
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
  position: relative;
  padding: 20px;
  box-sizing: border-box;

  #icon_edit{
    position: absolute;
    top: 20px;
    font-size: 30px;
    right: 20px;
    z-index: 9;
    color: white;
  }

  .pictures {
    width: 100%;

    img {
      width: 100%;
    }

    .bannerImage {
      position: absolute;
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
      top: 0;
      left: 0;
    }

    .profileImage {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      position: absolute;
      top: 100px;
      left: 100px;
      border: 1px solid var(--color-primary);
    }
  }

  h2 {
    margin-top: 220px;
    font-size: 20px;
    color: white;
    text-align: center;
  }

  .follow {
    width: 100%;
    padding: 5px 0px;
    background: none;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    margin: 20px 0;
    transition: all 0.4s;
    animation: followButtonAppear .6s ease;
    background-color: var(--color-primary);
    color: #ffffff;

    &[state="unfollow"]{
      background-color: var(--card-bg);
      color: #FFFFFF80;
    }

    &:hover {
      background: var(--color-primary);
      cursor: pointer;
      color: #ffffff70;
    }
  }

  p {
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
  }

  h4 {
    margin-bottom: 10px;
    color: #FFFFFF50;
  }

  ul{
    margin-bottom: 20px;
    li{
        margin: 9px 0;

        svg{
          margin-right: 7px;
        }
    }
  }
}

@keyframes followButtonAppear{
  0%{
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  100%{
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}
