.login_container{
    width: 30%;
    height: 100vh;
    background-color: var(--card-bg);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form{
        width: 80%;
        margin-top: 20px;

        button{
            background-color: var(--color-bg);
        }

        p{
            margin-top: 20px;
            text-align: center;

            span{
                font-weight: bold;
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }

    img{
        width: auto;
        border-radius: 0%;
        height: 150px;
        top: 0;
        object-fit: cover;
        left: 0;
    }
}



@media only screen and (max-width: 1200px){
    .login_container{
        width: 40%;
    }
}

@media only screen and (max-width: 800px){
    .login_container{
        width: 50%;
    }
}

@media only screen and (max-width: 600px){
    .login_container{
        width: 100%;
        height: 100%;
        border-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}